<a href="https://colab.research.google.com/github/FLafage/Cours_Python/blob/main/Cours1_Python_BSSAF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cours 1 - Découvrir Python

In [2]:
a = 5
a * 10

50

In [3]:
def somme (a,b):
  return a+b;

somme(1,1)

2

In [4]:
if a==5:
  print("a est égal à 5")
else:
  print("a n'est pas égal à 5")

a est égal à 5

In [5]:
def fact(n):
  if n==1:
    return 1
  else:
    return fact(n-1)*n

fact(4)

24

In [11]:
a = 1
for i in range(1,11):
  a = a*i
  print("factorielle de ", i, "égale", a)

factorielle de  1 égale 1
factorielle de  2 égale 2
factorielle de  3 égale 6
factorielle de  4 égale 24
factorielle de  5 égale 120
factorielle de  6 égale 720
factorielle de  7 égale 5040
factorielle de  8 égale 40320
factorielle de  9 égale 362880
factorielle de  10 égale 3628800